.copyright__text {
  @include font(normal, 14px, 26px, $basic-black);
  text-transform: uppercase;
  margin: 0;
  margin-right: 10px;
  color: inherit;
}

.copyright__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: $basic-black;

  &:hover {
    color: $basic-blue;
  }

  &:active {
    color: $basic-black;
    opacity: 0.3;
  }
}
