.feedback-form {
  border: none;

  @media (min-width: $tablet-width) {
    border-top: solid 1px $tablet-width-border-color;
  }
}

.feedback-form__legend {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 55px;
  }
}

.feedback-form__textarea {
  @include font (bold, 18px, 26px, $basic-black);

  &::placeholder {
    @include font (bold, 18px, 26px, $basic-black);
  }

  height: 160px;
  background-color: $form-element-basic-color;
  border: none;
  padding: 15px 22px 27px 22px;
  width: 100%;
  outline: none;

  &:hover {
    background-color: $form-element-hover-color;
  }

  &:focus {
    background-color: $basic-white;
    outline: solid 4px  $form-element-hover-color;
    outline-offset: -4px;
  }
}
