.field .error {
  border: 2px solid $error-color;
}

.field__label {
  @include font(normal, 14px, 26px, $light-black);
  text-transform: uppercase;
}

.field__input {
  @include font(bold, 18px, 26px, $basic-black);
  background-color: $form-element-basic-color;
  padding: 18px 22px 14px 22px;
  border: none;
  outline: none;

  &::placeholder {
    @include font(bold, 18px, 26px, $basic-black);
  }

  &:hover {
    background-color: $form-element-hover-color;
  }

  &:focus {
    background-color: $basic-white;
    outline: solid 4px  $form-element-hover-color;
    outline-offset: -4px;
  }
}
