.form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__item-wraper {
  padding-top: 20px;
  border-top: solid 1px $form-element-hover-color;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    border-top: none;
  }

  &:first-child {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      justify-self: end;
      margin-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 70px;
    }
  }

  &:nth-child(2) {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }
  }

  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(5) {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }
  }

  &:nth-child(3) {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      order: -1;
      border-right: solid 1px $tablet-width-border-color;
      margin-bottom: 85px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 80px;
    }
  }

  &:nth-child(4) {
    padding-top: 15px;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }

  &:nth-child(5) {
    margin-bottom: 47px;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }
  }

  &:nth-child(6) {
    width: 100%;
  }
}

.form__item {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__legend {
  @include font(bold, 18px, 26px, $basic-black);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.form__button {
  width: 100%;
}

.form__note {
  @include font(normal, 14px, 26px, $light-black);
  text-transform: uppercase;
  text-align: end;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}
