.gallery__header {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 458px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 60px;

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }
}

.gallery__header .header__title {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.gallery__photo-gallery {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 63px;
  }
}
