.header__title {
  @include font(bold, 18px, 26px, $basic-black);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.header__text {
  @include font(normal, 14px, 25px, $light-black);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.header__title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
