.index-body {
  height: 100%;
  margin: 0 auto;
  background-color: $form-element-basic-color;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.index-body__header {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.index-body__image {
  width: 100%;
  height: auto;
  background-color: $basic-blue;
  background-image: url("../../img/header-image-triangle-index.svg"),
    url("../../img/header-image-index.jpg");
  background-position: center bottom, center center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/header-image-triangle-index.svg"),
      url("../../img/header-image-index@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 518px;
  }
}

.index-body__image-title {
  margin-top: 85px;
  margin-bottom: 85px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 77px;
    margin-bottom: 92px;
  }
}

.index-body__reasons {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.index-body__purshase {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.form-body__footer {
  min-width: 320px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
