.main-nav {
  position: relative;
  padding-bottom: 56px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-nav__logo {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, 0);

  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  bottom: 17px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 4px;
  top: 0;
  left: 0;
  background-color: $basic-blue;
  box-shadow: 0 9px 0 0 $basic-blue, 0 18px 0 0 $basic-blue;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: fade-out($color: $basic-blue, $amount: 0.4);
  box-shadow: 0 9px 0 0 fade-out($color: $basic-blue, $amount: 0.4),
    0 18px 0 0 fade-out($color: $basic-blue, $amount: 0.4);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade-out($color: $basic-blue, $amount: 0.7);
  box-shadow: 0 9px 0 0 fade-out($color: $basic-blue, $amount: 0.7),
    0 18px 0 0 fade-out($color: $basic-blue, $amount: 0.7);
}

.main-nav--opened .main-nav__toggle {
  top: 17px;
  right: 20px;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 4px;
    top: 11px;
    left: 0;
    background-color: $basic-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade-out($color: $basic-white, $amount: 0.4);
  }

  &:active::before,
  &:active::after {
    background-color: fade-out($color: $basic-white, $amount: 0.7);
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    width: 20%;
  }

  &:last-child .main-nav__link {
    box-shadow: inset 0 -4px 5px $main-nav-shadow;

    @media (min-width: $tablet-width) {
      box-shadow: none;
    }
  }
}

.main-nav__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-right: 20%;
  }
}

.main-nav__link {
  @include font(bold, 18px, 40px, $basic-white);
  background-color: $basic-blue;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  display: block;
  position: relative;
  border-bottom: solid 1px fade-out($color: $box-shadow, $amount: 0.8);
  border-top: solid 1px fade-out($color: $basic-white, $amount: 0.8);

  &:hover {
    background-color: $button-hover-color;

    @media (min-width: $tablet-width) {
      background-color: transparent;
      color: $basic-blue;
    }
  }

  &:active {
    background-color: $button-down-color;
    color: fade-out($color: $basic-white, $amount: 0.7);

    @media (min-width: $tablet-width) {
      background-color: transparent;
      color: fade-out($color: $basic-black, $amount: 0.7);
    }
  }

  @media (min-width: $tablet-width) {
    @include font(bold, 14px, 26px, $basic-black);
    background-color: transparent;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
  }
}

.main-nav__link--active {
  @media (min-width: $tablet-width) {
    color: $main-menu-active-color;
  }

  &:hover {
    @media (min-width: $tablet-width) {
      color: $main-menu-active-hover-color;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      color: fade-out($color: $main-menu-active-color, $amount: 0.7);
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
