.page-footer {
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: baseline;
  }
}

.page-footer__title {
  @include font (bold, 21px, 26px, $basic-black);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 34px;
}

.page-footer__social {
  margin-bottom: 40px;
}
