.page-footer {
  padding-top: 35px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 36px;
  }
}

.page-footer__title {
  @include font (bold, 21px, 26px, $basic-black);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
