.reasons__header {
  margin-bottom: 10px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
}

.reasons__title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px;
  margin-top: 0;
  margin-bottom: 20px;

  @include font(bold, 18px, 26px, $basic-black);

  &--white {
    color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    font-size: 21px;
  }
}

.reasons__title br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.reasons__number {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;

  @include font(normal, 14px, 21px, $light-black);

  &--white {
    color: $basic-white;
  }
}

.reasons__text {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;

  @include font(normal, 14px, 21px, $light-black);

  &--white {
    color: $basic-white;
  }
}

.reasons__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.reasons__item--blue {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  & .reasons__title {
    padding-top: 40px;

    @media (min-width: $tablet-width) {
      padding-top: 42px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 52px;
    }
  }

  & .reasons__text {
    padding-bottom: 35px;

    @media (min-width: $tablet-width) {
      padding-bottom: 42px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 52px;
    }
  }
}

.reasons__description {
  @media (min-width: $tablet-width) {
    min-height: 256px;
  }
}

.reasons__item--blue .reasons__description {
  background-color: $basic-blue;
}

.reasons__item--gray .reasons__description {
  background-color: $basic-gray;
}

.reasons__item--gray .reasons__text:not(.reasons__item--gray:last-child .reasons__text) {
  border-bottom: solid 1px $dark-gray;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.reasons__item--blue .reasons__wrap {
  position: relative;
  margin-bottom: 260px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 260px;
    background-position: center center;
    background-size: cover;

    @media (min-width: $tablet-width) {
      grid-column: 2 / 4;
      min-height: 100%;
    }
  }
}

.reasons__item--blue:first-child {
  & .reasons__description {
    background-image: url("../../img/mask-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 40px;

    @media (min-width: $tablet-width) {
      background-image: none;
      padding-top: 0;
    }
  }

  & .reasons__wrap::after {
    background-image: url("../../img/city-image-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/city-image-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../img/city-image-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/city-image-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/city-image-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/city-image-desktop@2x.jpg");
      }
    }
  }
}

.reasons__item:nth-child(2) {
  & .reasons__wrap::after {
    background-image: url("../../img/bridge-image-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bridge-image-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../img/bridge-image-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/bridge-image-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/bridge-image-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/brige-image-desktop@2x.jpg");
      }
    }
  }
}

.reasons__wrap {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 256px;
  }
}
