.review__header {
  max-width: 474px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.review__header .header__title {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 30px;
  }
}
