// Colors

$basic-black: #000000;
$light-black: #333333;

$basic-gray: #eeeeee;
$dark-gray: #d6d6d6;

$basic-blue: #81b3d2;

$basic-white: #ffffff;

$main-menu-active-color: #766357;
$main-menu-active-hover-color: #604e43;

$button-hover-color: #669ec0;
$button-down-color: #5496bd;

$form-element-basic-color: #f2f2f2;
$form-element-hover-color: #e5e5e5;
$form-element-down-color: #d5d5d5;

$contacts-input-element-color: #e6e6e6;

$tablet-width-border-color: #dbdbdb;

$photo-description-special-color : #eaeaea;

$mobile-video-controls-color: #5c6870;
$desktop-video-controls-background-color: #666666;

$box-shadow: #010101;
$main-nav-shadow: rgba(0, 0, 0, 0.2);
$page-box-shadow: rgba(0, 1, 1, 0.2);

// Viewports

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-max-width: 1199px;
$desktop-width: 1200px;

@mixin font($f-weight, $f-size, $l-height, $color) {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $l-height;
  color: $color;
}
